body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td 
{ margin : 0; padding : 0; }

html{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height:100%;
	background: #101610;
}

body{
	width:2048px;
	height:1105px;
	margin:auto;
}	

div#silmaril {
	position:absolute;
	width:100%;
	height:100%;
	background: url(bgnz03.jpg);
	background-repeat: no-repeat;
}

div#silmaril h1 {
	font-weight:normal; 
	font-size: 2.0em;
	color: #009000;
	position:absolute;
	top:150px;
	left:150px;
	height:100px;
	background: url(silmaril_green.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 60px;
}
